@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.loading-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #ffffff;
}

.loading-image {
  animation: fadeIn 0.8s ease-in-out;
}

/* ------------------------------ */
/* Rolling Timer Loader           */
/* ------------------------------ */

.loader {
  display: inline-flex;
  border: 8px solid #000;
  border-radius: 6px;
}

.loader::before,
.loader::after {
  content: "0 1 2 3 4 5 6 7 8 9 0";
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  line-height: 1em;
  height: 1em;
  width: 1.2ch;
  text-align: center;
  outline: 1px solid #000;
  color: #0000;
  text-shadow: 0 0 0 #000;
  overflow: hidden;
  animation: rolling 2s infinite linear;
}

.loader::before {
  animation-duration: 4s;
}

@keyframes rolling {
  100% {
    text-shadow: 0 var(--t, -10em) 0 #000;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}



